$primary-color: #282c34;
$secondary-color: azure;

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $primary-color;
    height: 10vh;
    position: sticky;

    ul {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    li {
        padding: .8em;
    }

    button {
        background-color: $secondary-color;
        color: $primary-color;
        border: none;
        padding: .8em;
        font-size: 1em;
        border-radius: .5em;

        // &:hover {
        //     background-color: #007ACD;
        //     color: $secondary-color;
        //     cursor: pointer;
        // }
    }

    .selected {
        background-color: #007ACD;
        color: $secondary-color;
    }

    @media (hover: hover) {
        button:hover {
            background-color: #007ACD;
            color: $secondary-color;
            cursor: pointer;
        }
    }
}
